{% load staticfiles %}
<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>User Profile</title>
  <meta name="author" content="Meet Vora">
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'login/styles.css' %}">
  <script type="text/javascript" src="{% static 'jquery-1.10.2.min.js' %}"></script>

</head>

<body>
  {%if conf%}
  <div id="w">
    <div id="content" class="clearfix">
	      <div id="userphoto"><img src="{% static 'login/avatar.png' %}" alt="default avatar"></div>
      <h1>{{ user.username }}</h1>      
      <section id="bio">
        <p>Hey there {{ user.first_name }}!</p>
        <p>Blah blah blah I've done MBA.<br />Blah blah blah, the MBA was done by me. <br />Blah blah blah M, then B, then A was done by me.<br />
        <strong> Email address: {{ user.email }} <br /> Website: {{ user.web }} <br /> </strong>
        </p>
      </section>
      <br /><hr /><br />
      <section id="settings">
      <form action="/login/renew/" method="POST">
      {% csrf_token %}
        <p>Edit your user settings 		<img src="{% static 'login/edit.png' %}" alt="*Edit*"></p>
        
        <p class="setting"><span>E-mail Address</span><input type="email" name="newmail" /></p>
        
        <p class="setting"><span>Current Password</span> <input type="password" name="oldpass" /></p>
        
        <p class="setting"><span>New Password </span><input type="password" name="newpass1" /></p>

        <p class="setting"><span>Re-enter new Password </span><input type="password" name="newpass2" /></p>
      
        <p class="setting"><span>Website</span><input type="URL" name="newweb" /></p>

        <input type="submit" value="Change!" onclick="document.alert('Settings saved! Redirecting to login page.'')" />
        </form>
      </section>
    </div>
  </div>
{% else %}
<h1>Sorry, you don't have access to visit this page. <br /><br />Sign in <a href= "/login/signin">here</a> to continue.</h1>
{% endif %}
</body>
</html>